* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light-color: #fff;
    --medium-color: #808588;
    --dark-color: #000;
    --main-align: center;
}

body {
    font-size: 16 px;
    font-family: Roboto, Arial, sans-serif;
}

main {
    max-width: 800px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--dark-color);
    padding: 2px;
    box-shadow: 0 0 30px var(--medium-color);
    float: right;
    margin: 0 0 1rem 1rem;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: var(--light-color);
    display: block;
    padding: 20px;
}

aside {
    width: 15rem;
    text-align: var(--main-align);
    position: relative;
}

aside h2 {
    position: absolute;
    top: 18px;
    left: 42px;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid var(--dark-color);
    text-align: var(--main-align);
}

h1 {
    color: darkblue;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid var(--dark-color);
    padding: 2px;
    box-shadow: 0 0 30px var(--medium-color);
}

p {
    padding: 0;
    margin: 1rem;
}

/* Class Selectors*/

.box {
    margin: 2rem;
    border: 2px dashed rgb(0 0 0 / 0.3);
    padding: 1rem;
    background-color: var(--light-color);
    color: #333;
}

.indent {
    padding-left: 2rem;
}